<?xml version="1.0"?>
<config>
    <modules>
        <Mediotype_WebsiteInventory>
            <version>0.1.0</version>
        </Mediotype_WebsiteInventory>
    </modules>
    <global>
        <models>
            <mediotype_websiteinventory>
                <class>Mediotype_WebsiteInventory_Model</class>
                <resourceModel>mediotype_websiteinventory_resource</resourceModel>
            </mediotype_websiteinventory>
            <mediotype_websiteinventory_resource>
                <class>Mediotype_WebsiteInventory_Model_Resource</class>
            </mediotype_websiteinventory_resource>
            <cataloginventory>
                <rewrite>
                    <stock_item>Mediotype_WebsiteInventory_Model_CatalogInventory_Stock_Item</stock_item>
                </rewrite>
            </cataloginventory>
            <cataloginventory_resource>
                <rewrite>
                    <stock_item>Mediotype_WebsiteInventory_Model_Resource_CatalogInventory_Stock_Item</stock_item>
                    <stock_item_collection>Mediotype_WebsiteInventory_Model_Resource_CatalogInventory_Stock_Item_Collection</stock_item_collection>
                </rewrite>
            </cataloginventory_resource>
        </models>
        <blocks>
            <mediotype_websiteinventory>
                <class>Mediotype_WebsiteInventory_Block</class>
            </mediotype_websiteinventory>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Mediotype_WebsiteInventory_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <mediotype_websiteinventory>
                <class>Mediotype_WebsiteInventory_Helper</class>
            </mediotype_websiteinventory>
        </helpers>
        <resources>
            <mediotype_websiteinventory_setup>
                <setup>
                    <module>Mediotype_WebsiteInventory</module>
                </setup>
            </mediotype_websiteinventory_setup>
        </resources>
    </global>
</config>